body{
  color: blue;
}

#task1{
  display: grid;
  margin: 0 auto;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px;
  gap: 10px;
}

/* #task1 div[class]{ */
.pirmas, .antras, .trecias{
  background-color: rgb(127, 138, 255);
}