@media (min-width: 600px){
  h1{
    color: red;
  }
}

@media (min-width: 900px){
  body{
    background-color: azure;
  }
}

@media (min-width: 1200px){
  h1{
    color: orange;
  }
  body{
    background-color: aquamarine;
  }
}


@media (max-width: 990px) /*and (min-width: 751px)*/{
  #task1{
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 195px);
  }
  .trecias{
    grid-area: 1 / 2 / 3 / 3;
  }
}

@media (max-width: 750px){
  #task1{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 195px);
  }
  .trecias{
    grid-area: initial;
  }
}